#buttons_box {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	gap: 0;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 0.25em;
	padding: 0.3125em;
}
#buttons_box a {
	display: block;
	padding: 0.625em 3.125em 0.625em 0.625em;
	color: #fff;
	font-weight: 700;
	box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: 0.125em;
	border-bottom-right-radius: 0.125em;
	white-space: nowrap;
	flex-shrink: 0;
}
#contribution {
	background: url("../images/paypal.png") #0090ff no-repeat 95% 50%;
	background-size: 2.5em;
}
#docker {
	background: url("../images/docker.png") #0090ff no-repeat 97% 50%;
	background-size: 2.5em;
}
#view {
	background: #28a745;
	text-align: center !important;
	padding: 0.625em 1.25em !important;
}
#youtube {
	background: url("../images/youtube.png") red no-repeat 97% 50%;
	background-size: 2.5em;
}
#github {
	background: url("../images/blacktocat.png") #0090ff no-repeat 95% 50%;
	background-size: 2.5em;
}
header img[src*="logo"] {
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}
